@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/JetBrainsMono-Thin.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/JetBrainsMono-Medium.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/JetBrainsMono-Bold.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/fonts/JetBrainsMono-Bold.ttf');
}