/* You can add global styles to this file, and also import other style files */
@import "fonts.css";

:root{
    --dark-color: #000000;
    --light-color: #ffff;
    --primary-color: #AE7AFF;
}

body{
font-family: "JetBrains Mono", sans-serif;
   background: var(--dark-color);
   color: var(--light-color); 
}

button{
    font-family: "JetBrains Mono", sans-serif;
}
.skill-tag{
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid var(--light-color);
    display: inline;
    font-weight: 700;
    font-size: 12px;
    margin-right: 4px;
}

.btn{
    background: var(--primary-color);
    border: 1px solid var(--dark-color);
    color: var(--dark-color);
    padding: 10px 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.h6{
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}

.subtitle{
    font-size: 14px;
    line-height: 20px;
}